<form class="card" [formGroup]='form' (ngSubmit)="submit()">

    <h2>Login to admin panel</h2>

    <div class="alert alert-danger" *ngIf="auth.error$ |async as error ">
        {{error}}
    </div>
    <div class="alert alert-danger" *ngIf="message">
        {{message}}
    </div>

    <div [ngClass]="{invalid:  form.get('email').touched &&
        form.get('email').invalid}" class="form-control">
        <label for="email">E-mail:</label>
        <input formControlName="email" id="email" type="email">
        <div *ngIf="form.get('email').touched && form.get('email').invalid"
            class="validation">
            <small>invalid e-mail</small>
        </div>
    </div>

    <div [ngClass]="{invalid:  form.get('password').touched &&
    form.get('password').invalid}" class="form-control">
        <label for="password">Password:</label>
        <input formControlName="password" id="password" type="password">
        <div *ngIf="form.get('password').touched && form.get('password').invalid"
            class="validation">
            <small>invalid password</small>
        </div>
    </div>

    <button type="submit"
        [disabled]="(form.invalid && !form.pristine) || isSubmitted"
        class="btn btn-primary">Login</button>

</form>